{%extends "preactBase.html" %}
{%block title%}A simple demo (clock) | Shareify{%endblock%}
{%block headerScripts %}
{%endblock%}
{%block code %}


class App extends Component {
	constructor(...args) {
		super(...args);
		
		this.state =  {
			value: "",
			open: false
		}
		
		_defineProperty(this, "handleMouseDown", () => {
			this.setState({open: !this.state.open});
		})
		
		_defineProperty(this, "handleTouchStart", (ev) => {
			ev.preventDefault()
			this.handleMouseDown()
		})

		
		
	}
	

  render() {
	return (
	  html`
	  <button
		onMouseDown=${this.handleMouseDown}
		onTouchStart=${this.handleTouchStart}>
		Toggle
	  </button>
	  `
	);
  }
}
main = html`<${App}/>`

{%endblock%}