<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#020202">
<link href="{{ url_for('static', filename='main.css') }}" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" type="text/css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<style type="text/css">
	.base{
		max-width:42rem;
		
	}
	body,html{
		height:100%;
		background-color:#02060E;
		color: #eee;
		font-family: 'IBM Plex Sans', sans-serif;
	}
</style>