<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#020202">
<link href="{{ url_for('static', filename='main.css') }}?v=text-body-update" type="text/css" rel="stylesheet">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;1,400&display=swap" type="text/css">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
<style type="text/css">
	:root{
		--page-bg-h:220;
		--page-bg-s:13;
		--page-bg-l:15;
		
		--page-bg: hsl(var(--page-bg-h), calc(var(--page-bg-s) * 1%), calc(var(--page-bg-l) * 1%));
		
		--page-bg-contrast-l: calc((var(--page-bg-l) - 50) * -100%);
		--page-bg-contrast: hsl(var(--page-bg-h), calc(var(--page-bg-s) * 1%), var(--page-bg-contrast-l));
	}
	.base{
		max-width:42rem;
		
	}
	body,html{
		height:100%;
		background-color:var(--page-bg);
		color: var(--page-bg-contrast);
		font-family: 'IBM Plex Sans', sans-serif;
		transition: background 1s ease, color 1s ease;
	}
	
	.border-page-contrast {
		border-color: var(--page-bg-contrast)
	}
	.bg-page-contrast {
		background-color: var(--page-bg-contrast)
	}
	.text-page-bg {
		color: var(--page-bg)
	}
</style>


<script src="https://unpkg.com/node-vibrant@3.2.1-alpha.1/dist/vibrant.min.js"></script>