{% extends "base.html" %}
{% block title%}Shareify{%endblock%}
{% block content %}
    
        <p class="text-4xl sm:text-5xl leading-tight mb-8">
            Shareify is an app made to help you <span class="bg-yellow-500 text-black">get the tunes going with your friends</span>.
        </p>
        <p class="leading-normal text-body mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <span class="bg-green-300 text-black px-1">tempor</span> incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
        </p>
        <div class="block sm:flex w-full">
            <a href="/create" class="flex-grow">
                <div class=" bg-blue-300 text-center p-2 text-body sm:mr-1 rounded-lg font-bold text-black cursor-pointer mb-2 sm:mb-0 hover:bg-blue-400">
                     Create Room
                 </div> 
            </a>
            <a href="/join" class="flex-grow">
                <div class="bg-gray-100 text-black text-center p-2 text-body sm:ml-1 rounded-lg font-bold cursor-pointer hover:bg-gray-500">
                    Join Room
                </div>
            </a>
            
        </div>

{%endblock %}