{% extends "base.html" %}
{% block title%}Shareify{%endblock%}
{% block content %}
    
        <p class="text-5xl leading-tight mb-8">
            Shareify is an app made to help you <span class="bg-yellow-500 text-black">get the tunes going with your friends</span>.
        </p>
        <p class="leading-normal text-2xl mb-4">
            Yup, that's right, we're not using material UI anymore (it was just too gosh dang big). Although, I'll still use react.
        </p>
        <p class="leading-normal text-2xl mb-8">
            This is <span class="bg-green-300 text-black">high-quality</span> Tailwind CSS.
        </p>
        <div class="block sm:flex w-full">
            <a href="/create" class="flex-grow">
                <div class="bg-gray-100 text-center p-2 text-2xl sm:mr-1 rounded-lg font-bold text-black cursor-pointer mb-2 sm:mb-0 hover:bg-gray-500">
                     Create Room
                 </div> 
            </a>
            <a href="/join" class="flex-grow">
                <div class="bg-blue-300 text-black text-center p-2 text-2xl sm:ml-1 rounded-lg font-bold cursor-pointer hover:bg-blue-400">
                    Join Room
                </div>
            </a>
            
        </div>

{%endblock %}