<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title %}{%endblock%}</title>

	{% include "head.html" %}
	
	{%block headerScripts%}
	{%endblock%}
</head>
<body>
<box-icon name="rocket"></box-icon>

	<div class="base mx-auto p-4 text-xl" id="appMain">
		
	</div>
	
	
	
	<!--<script src="{{ url_for('static', filename='preact-motion.prod.js') }}" crossorigin="anonymous"></script>-->

	<script type="module">
		// base preact and templating stuff
		import { html, render, Component, useState, createContext, useContext, useEffect, useMemo } from 'https://unpkg.com/htm/preact/standalone.module.js'
		// things exported by htm/preact:
		// { h, html, render, Component, createContext, useState, useReducer, useEffect, 
		// useLayoutEffect, useRef, useImperativeHandle, useMemo, 
		// useCallback, useContext, useDebugValue };
	
		// slot engine so that we can dynamically update the header element from inside other components
		{{component_import("Slots")}}
		// lets you define properties of a object.
		// technically you can do this with public field instances, but safari doesn't support that yet.
		function _defineProperty(obj, key, value) {
		  if (key in obj) {
			Object.defineProperty(obj, key, {
			  value: value,
			  enumerable: true,
			  configurable: true,
			  writable: true
			});
		  } else {
			obj[key] = value;
		  }
		  return obj;
		}
		
		let Main = () => { 
			return html`
			<p class="leading-tight text-5xl mb-8">
				Looks like you <span class="bg-yellow-500 text-black">haven't added any code</span> yet. 
			</p>
			<p class="leading-normal text-2xl mb-8">
				This is the <span class="bg-purple-300 text-black">preact</span> template. If you want the <span class="bg-blue-300 text-black">plain HTML</span> template, change "preactBase.html" to "base.html".
			</p>
			<p class="leading-normal text-xl mb-4">
				Preact is expecting at least one custom element to render. Either "header" or "main". Make sure that you redefine these in your code block. (note: the template already declares "header" and "main", so if you do declare them in your code, the js will result in an error)
			</p>
			<p class="leading-normal text-xl mb-4">
				You are currently viewing the default "header" and "main" components. The default header is the top nav bar (including the line). And the default main is this text.
			</p>`
		}
		{{component_import("DefaultHeader", "Link")}}

		{%block code %}
		{%endblock%}
		
		


		function App () {
			return html`
			<${SlotProvider}>
				<header id="header">
					<${DefaultHeader} />
				</header>
				<main class="mt-12" id="main">
					<${Main} />
				</main>
			<//>
		`
		}
		render(html`<${App}/>`, document.querySelector("#appMain"))



	</script>

</body>
</html>